.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 9999; 

}
#audioPlayer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
}



.homepage{
    text-align: center;
    display: inline-block;
    padding: 2vw;
    margin: 1vw;
    color: rgb(48, 47, 47);
}

.btnPage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btnPage button {
  background-color: #dcdcdc;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.btnPage button:hover {
  background-color: #ccc;
}


#h2album{
  text-align: center;
}

.homepage {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.homepage:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.homepage:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

#di {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f8f8f8;
}

.gender {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gender:hover {
  transform: scale(1.05);
}

.gender a {
  text-decoration: none;
}

.gog {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gog:hover {
  background-color: #ccc;
}

.line{
  border: 0.1px solid rgb(176, 176, 176);
  width: 93%;
  position: absolute;
  left: 2vw;
  margin-top: 2vw;
}

.trackRow {
  /* border-bottom: 1px solid black; */
  
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;

  /* padding-bottom:10px ; */
}


.trackRow:hover > .line {
  border: 0.1px solid rgb(113, 113, 113);
}


.trackName {
  flex-grow: 1;
  font-weight: bold;
}

.trackPopularity {
  margin-right: 10px;
}

.trackDuration {
  margin-right: 10px;
  text-align: center; /* Centrer le texte */
}

.trackBtn {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trackBtn:hover {
  background-color: #ccc;
}

.albumContainer {
  display: grid;
  grid-template-columns: auto 1fr; /* Colonne de la couverture de l'album puis colonne du contenu */
  grid-column-gap: 10px; /* Espacement horizontal entre les colonnes */
  align-items: center; /* Centrer verticalement */
  margin-bottom: 10px;
}

.containers{
  margin-bottom: 100px;
}

.albumCover {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.albumDetails {
  display: flex;
  flex-direction: column;
}

.albumName {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.albumDecs {
  font-size: 14px;
  color: #777;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

 
}
